<%- include("includes/head.ejs") %>
<body>
    <h1>This is Home Page</h1>
    <h3> <%= 1+2 %> </h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam rem veritatis, voluptatem sequi totam veniam beatae itaque optio laudantium fugiat eos ducimus, tenetur molestiae. Suscipit nemo tenetur consequuntur impedit facere!</p>
    <button>Click Here</button>
    <%- include("includes/footer.ejs") %>
</body>
</html>