#container
{
    width: 80%;
    height: 500px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}
.elements
{
    background-color: pink;
}
#header
{
    grid-column: 1/span 12;
}
#sidebar
{
    grid-column: 1/span 3;
    grid-row: 2/span 10;
}
#navi
{
    grid-column: 4/span 6;
}
#main
{
    grid-column: 4/span 6;
    grid-row: 3/span 9;
}
#ads
{
    grid-column: 10/span 3;
    grid-row: 2/span 10;
}
#foot
{
    grid-column: 1/span 12;
}
@media (max-width:720px)
{
    #header
    {
        grid-column: 1/span 12;
        grid-row: 1/span 1;
    }
    #navi
    {
        grid-column: 1/span 12;
        grid-row: 2/span 1;
    }
    #sidebar
    {
        grid-column: 1/span 3;
        grid-row: 3/span 9;
    }
    #main
    {
        grid-column: 4/span 9;
        grid-row: 3/span 9;
    }
    #ads
    {
        grid-column: 1/span 3;
        grid-row: 12/span 1;
    }
    #foot
    {
        grid-column: 4/span 9;
        grid-row: 12/span 1;
    }
}