#a
{
    width: 80%;
    height: 400px;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
}
.r
{
    width: 200px;
    height: 50px;
}

