#p
{
    height: 200px;
    width: 70px;
    border: 6px double black;  
}
.inner
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid black;
}
#one
{
    background-color: red;
}
#two
{
    background-color: yellow;
}
#three
{
    background-color: green;
}