.card
{
    width: 200px;
    height: 280px;
    border: 3px solid black;
    display: inline-block;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 2px 4px 8px black;
    transition: 0.5s;
}
.card:hover
{
    box-shadow: 4px 8px 16px black;
}
img
{
    border-radius: 5% 5% 0 0;
    width: 100%;
}
